In [ ]:
#Liberarys
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
#Data
data=pd.read_csv("Book1.csv")
data.head()

   X    Y
0  1  2.0
1  2  2.2
2  3  3.6
3  4  4.7